<md-dialog flex style="z-index:100;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{name}} {{nbBets}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>     
      <div class="md-dialog-content">
        <div ng-if="loading" layout="row" style="margin-top: 20px;width: 100%" layout-sm="column" layout-align="space-around" layout-align="center center" align="center" flex>
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-list ng-if="!loading && bets.length !== 0" flex>
          <md-list-item class="md-2-line" ng-repeat="bet in bets | orderBy:'-match.date'">
            <div class="md-list-item-text" layout="row" layout-align="start center">
              <img src="{{bet.match.team1.picture}}" class="md-avatar" style="margin: 0px;width: 20px;height: 20px;"/>
              &nbsp;
              <h3><b>{{bet.match.team1.name}} {{bet.bet.score1}} - {{bet.bet.score2}} {{bet.match.team2.name}} </b></h3>
              &nbsp;
              <img src="{{bet.match.team2.picture}}" class="md-avatar" style="margin: 0px;width: 20px;height: 20px;" />
              &nbsp;
               <h3><b><span style="color:green;" ng-if="bet.bet.point>0">{{(bet.bet.point!==-1 && bet.bet.point!==0)?' ( +'+bet.bet.point+' points )':''}}</span><span style="color:red;" ng-if="bet.bet.point<0">{{(bet.bet.point!==-1 && bet.bet.point!==0)?' ( '+bet.bet.point+' points )':''}}</span></b></h3>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
        </md-list>
        <p ng-if="bets.length === 0 && !loading">Aucun pari trouvé</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer()">
        OK
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>